@jsluna:registry=https://nexus.public.prd.golf-prod.js-devops.co.uk/repository/luna/
//nexus.public.prd.golf-prod.js-devops.co.uk/repository/luna/:_authToken=NpmToken.ea2aab67-d767-3667-9426-4d365c38e675
