@import '@jsluna/foundation/scss/main';

.basketCard {
  padding: 10px;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 2fr;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &__image__column {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 80%;
  }

  &__price {
    margin-top: auto;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;

    // input.quantity {
    //   width: 3em;
    //   text-align: center;

    //   -moz-appearance: textfield;

    //   &::-webkit-outer-spin-button,
    //   &::-webkit-inner-spin-button {
    //     -webkit-appearance: none;
    //     margin: 0;
    //   }
    // }

    &--flash {
      color: $ln-color-red;
    }
  }

  .flex {
    display: flex;
  }

  // &__button {

  // }
}

.basket-list-container {
  max-width: 1200px;

  padding: 10px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
