.header {
  text-align: center;

  &__logo {
    max-height: 200px;
    pointer-events: none;
  }

  &__header {
    background-color: #282c34;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    color: white;
  }

  &__link {
    color: #61dafb;
  }
}
